html,
body {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #000000;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.section-container {
    padding: 120px 0;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;

}


.btn {
    background-color: $blue;
    color: #fff;
    border-radius: 30px;
    text-align: center;
    padding: 20px 30px;

}



.lnr-heart::before {
    color: #7f4ec2;
    font-size: 15px;
    font-weight: 500;
}

.title-box {
    height: 110px;
    padding: 33px 30px;
    background-color: #fff;
    @include shadow;
    border-radius: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    &__name {
        font-size: 30px;
        padding-right: 10px;
    }

    &__buttons {
        background-color: rgb(115, 71, 193);
        width: 110px;
        border-radius: 30px;
        color: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 16px 25px;
    }
}

.hover-buttons {
    text-align: center;
    display: none;

    a {
        font-weight: 500;
        font-size: 15px;
        color: #fff;
        padding: 16px 28px;
        @include shadow;
        border: 1px solid #fff;
        border-radius: 100px;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;

        &:hover {
            color: $blue;
            background-color: #fff;
        }
    }

    &>a {
        margin-right: 10px;
    }
}

.owner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    .owner-name {
        margin-right: 46px;
        margin-left: 8px;
        font-size: 15px;
        color: #000;
    }

    .product-category-wp {
        position: relative;


        &::before {
            content: '';
            background-image: url(../images/icons/wp-icon.svg);
            height: 15px;
            width: 15px;
            position: absolute;
            background-repeat: no-repeat;
            background-size: cover;
            left: -25px;
        }
    }

    .product-category-psd {
        position: relative;

        &::before {
            content: '';
            background-image: url(../images/icons/psd-icon.svg);
            height: 17px;
            width: 13px;
            position: absolute;
            background-repeat: no-repeat;
            background-size: cover;
            left: -25px;
        }
    }

    .product-category-html {
        position: relative;

        &::before {
            content: '';
            background-image: url(../images/icons/html-icon.png);
            height: 17px;
            width: 15px;
            position: absolute;
            background-repeat: no-repeat;
            background-size: cover;
            left: -25px;
        }
    }
}

.item-text {
    color: $text;
    line-height: 30px;
}

.section-title {
    margin: 0 auto;
    text-align: center;
    max-width: 700px;

    &__heading {
        font-size: 36px;
        margin-bottom: 28px;

        span {
            color: $blue;
        }
    }

    &__text {
        line-height: 30px;
        color: $text;

    }
}

.line {
    border-left: 1px solid rgb(217, 223, 229);
    position: absolute;
    left: 50%;
}