html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

a {
    display: inline-block;
    text-decoration: none;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.btn {
    background-color: $blue;
    color: #ffffff;
    border-radius: 28px;
    text-align: center;
}