$bg: #eff1f5;
$blue: #0674ec;
$purpure: #7347c1;
$text: #555555;
$green: #77de51;
$gold: #feb71d;
$red: #ff6a6d;

@mixin shadow {
  -webkit-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
}

@mixin trans {
  transition: all .3s;
}

@mixin reset-btn {
  outline: none;
  border: none;
  cursor: pointer;
}