@import '_vars';
@import '_global';
@import '_fonts';


// ------------------------------------------------HEADER

.header-top {
    background-color: $bg;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
    }
}

.header-box {
    display: flex;
    align-items: center;

    &__btn {
        margin-right: 50px;
        padding: 10px 19px;
    }

    &__icons {
        margin-right: 48px;

        .header__icon+.header__icon {
            margin-left: 33px;
            margin-right: 0;

        }

        .header__icon {
            line-height: 1;
            font-size: 20px;
            color: #7e8fa1;
            position: relative;

            .notice-count {
                color: #fff;
                font-size: 14px;
                top: -20px;
                border-radius: 50%;
                padding: 6px 8px;
                position: absolute;

            }

            .notice-alarm {
                background-color: #ff6a6c;
            }

            .notice-envelope {
                background-color: #7fd860;
            }

            .notice-cart {
                background-color: #318bed;
            }
        }
    }

    .profile {
        display: flex;
        align-items: center;

        &__avatar {
            border-radius: 50%;
            margin-right: 20px;
        }

        &__name {
            color: #333;
            font-weight: 500;
            line-height: 22px;
            padding: 0;
            margin: 0;
        }

        &__price {
            color: $blue;
            text-align: left;
            padding: 0;
            margin: 0;
        }
    }

}

.header-bottom__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.menu {
    display: flex;
    color: #333;

    &__list {
        li {
            display: inline-block;
            font-weight: 500;
            font-size: 15px;
            text-transform: uppercase;

            a {
                color: #333;
            }

            &+li {
                margin-left: 26px;
            }

        }


    }

}


.search-form {
    max-width: 360px;
    width: 100%;
    position: relative;
    margin-left: 20px;

    &__input {
        border: 1px solid rgb(217, 223, 229);
        display: block;
        outline: none;
        height: 44px;
        color: #898f96;
        font-size: 15px;
        color: #333;
        border-radius: 25px;
        width: 100%;
        padding-right: 80px;
        padding-left: 23px;

        &::placeholder {
            color: #898f96;
        }

    }

    &__btn {
        position: absolute;
        padding: 13px 28px;
        top: 0;
        right: 0;
    }
}


//-------------------------------------------------------section Digital Product Marketplace

.present {
    background-image: -webkit-linear-gradient(180deg, rgb(0, 48, 222) 0%, rgb(23, 69, 237) 54%, rgb(46, 90, 251) 100%);
    height: 725px;

    &__inner {
        color: #fff;
        padding-top: 178px;
        text-align: center;
        position: relative;
    }

    &__title {
        font-size: 60px;
        line-height: 70px;

        span {
            display: block;
            font-weight: 700;
            margin-bottom: 38px;
        }
    }

    &__text {
        font-weight: 500;
        font-size: 20px;
        margin-bottom: 70px;
    }

    &__buttons {
        text-align: center;

        a {
            color: #fff;
            margin-right: 28px;
            padding: 20px 30px 16px;
            border: 1px solid #fff;
            border-radius: 30px;
            transition: all .3s;

            &:hover {
                color: $blue;
                background-color: #fff;
            }
        }
    }
}

.Rectangle_238_copy_2 {
    border-radius: 6px;
    background-color: rgb(255, 255, 255);

    position: absolute;
    left: 420px;
    top: 809px;
    width: 1080px;
    height: 135px;
    z-index: 729;
}

.decor {
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 98%;
    height: 50px;
    background-color: #fff;
    position: absolute;
    bottom: 13px;
    height: 132px;
    opacity: 0.502;
    border-radius: 6px;

}


.decor2 {
    width: 96%;
    bottom: 26px;
}


.search-product {
    display: flex;
    background-color: #fff;
    padding: 0 40px;
    height: 132px;
    border-radius: 6px;
    z-index: 6;
    margin-top: 165px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);


    .product-form {
        position: relative;
        width: 100%;

        &__input,
        &__select,
        &__btn {
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto 0;
            border: 1px solid rgb(220, 220, 220);
            height: 53px;
        }

        &__input {
            left: 0;
            width: 100%;
            padding: 0px 27px;
            max-width: 610px;
            border-radius: 4px 0 0 4px;
            outline: none;

            &::placeholder {
                color: #676767;
            }
        }

        &__select {
            border-radius: 0 4px 4px 0;
            padding: 17px 70px 17px 20px;
            line-height: 1;
            right: 287px;
            appearance: none;
            -webkit-appearance: none;
            background: url(../images/icons/down-arrow.svg) 96%/15% no-repeat;
            background-size: 12px;
            color: #555;
            outline: none;
            cursor: pointer;
        }

        &__btn {
            position: absolute;
            height: 53px;
            right: 0;
            border-radius: 4px;
            width: 221px;
        }
    }
}

.advantages {}

.advantages__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 188px;
    margin-bottom: 120px;


    .advantages-item {
        width: 100%;
        max-width: 362px;
        text-align: center;
        padding: 40px 35px 50px 35px;

        &__img {}

        &__title {
            font-size: 24px;
            color: #010101;
            margin: 37px 0;
        }

        &__text {}
    }

    .central-item {
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    }

}